<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col" *ngFor="let p of listProducts">
    <div class="card">
      <img src="./assets/img_avatar1.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Product id: {{p.id}}</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a class="btn btn-success" routerLink="{{p.id}}">details</a>
      </div>
    </div>
  </div>
</div>
