
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col" *ngFor="let p of listProducts">
    <div class="card">
      <img src="./assets/img_avatar1.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Product id: {{p.id}}</h5>
        <p class="card-text">Quantity : {{p.quantity}}</p>
        <a class="btn btn-success" routerLink="{{p.id}}">details</a>
      </div>
    </div>
  </div>
</div>
<button class="btn btn-success mt-3" (click)="getAlertStock()">getAlertStock</button>
<div class="alert alert-danger">{{alertStock}}</div>
